body {
    margin: 0;
    font-family: Nunito ,sans-serif;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
    background-color: #fafbfe;
    overflow-x: hidden;
    height: 100vh;
}
/*------------------------------------------------------*/
.authentication-bg {
    background: url("../img/bg-pattern-light.svg") no-repeat;
    background-size: cover;
    background-position: center;
}
.container {
    margin-top: 200px;
}
.bg-purple,
.btn-purple {
    background-color: #536de6 !important;
    color: #fff !important;
}
.text-muted {
    text-decoration: none;
}